@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Judson:wght@400;700&display=swap");


html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Archivo", sans-serif;
}

p,
ul,
li {
  font-family: "Judson", sans-serif;
}

a {
  color: #000;
}

h4,
h6 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

section {
  display: flex;
  padding-top: 50px;
  color: #131615;
}

footer p,
footer {
  background-color: #3c439b;
  text-align: center;
  margin: 0;
  padding: 15px;
  font-family: "Archivo", sans-serif;
  color: #fff;
}


waves-section,
waves-section .container {
  background-color: #3c439b;
  color: #fff;
}

mark {
  box-shadow: rgba(60, 67, 155, .7) 0px -5px 0px inset;
  transition: box-shadow 0.3s ease-in-out 0s;
  background: none;
  font-weight: 700;
}

/**mark:hover {
  box-shadow: #3c439b 0px -14px 0px inset;
  transition: box-shadow 0.3s ease-in-out 0s;
  background: none;
}*/

#top-btn {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #3c439b;
  color: #fff;
  cursor: pointer;
  padding: 15px;
  border-radius: 100px;
  font-size: 18px;
  height: 45px;
  width: 45px;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.1);
  mix-blend-mode: multiply;
  transition: all 0.3s ease-in-out 0s;
}

.goToTop {
  transform: rotate(180deg);
}

.hero-background {
  position: relative;
  background: url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 90vh;
  max-height: 90vh;
  color: #fff;
}

.black {
  color: #131615;
}

.hero-background .vertical-centered {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.hero-background .title {
  font-size: 66px;
  font-weight: 700;
}

.hero-background .description {
  font-size: 24px;
}

#fireflies {
  position: absolute;
  width: 50vw;
  height: 80vh;
  top: 0px;
  left: 0px;
  pointer-events: none;
}

.phone {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 10px 5px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10%;
  background-color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.phone .number {
  margin: 0px 5px;
  float: right;
  color: #131615;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  vertical-align: middle;
}

.upscale {
  font-size: 20px;
}

.green {
  background: #16a565 !important;
}

.container img {
  max-width: 450px;
  padding: 25px;
}

.container .left-content {
  display: flex;
  justify-content: end;
  margin-left: 10%;
  text-align: left;
}

.container .centered-content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.container .centered-content .title {
  font-size: 55px;
  font-weight: 700;
  margin-bottom: 12px;
}

.container .centered-content .subtitle {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 64px;
  font-family: "Judson", sans-serif;
}

.container .centered-content .vertical-centered {
  max-width: 80vw;
  overflow-wrap: break-word;
}

.container .right-content {
  display: flex;
  justify-content: start;
  margin-right: 10%;
  text-align: right;
}

.container h1 {
  font-size: 42px;
  font-weight: 700;
}

.container p {
  font-size: 20px;
  max-width: 38.75vw;
  text-justify: inter-word;
  direction: ltr;
  text-align: justify;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-items: stretch;
  align-items: stretch;
}

.grid-item {
  display: block;
  width: 360px;
  min-height: 260px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  overflow: hidden;
}

.grid-item:hover {
  transform: scale(1.08, 1.08);
}

.grid-item .text {
  display: block;
  font-size: 16px;
  text-align: left;
  padding: 30px 15px;
  text-align: justify;
  text-justify: inter-word;
  background-color: #3c439b;
  border-radius: 8px;
  color: #fff;
  min-height: 30%;
  position: relative;
  bottom: 0px;
}

.grid-item img {
  max-width: 100%;
  height: 300px;
}

.grid-item .document-link {
  background: none;
  color: #131615;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
}

.download-button {
  color: #fff;
  margin-top: 10px;
}

.dot {
  width: 4px;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fedfc2;
  box-shadow: 0px 0px 10px 2px #fedfc2;
  border-radius: 20px;
}

.btn {
  padding: 9px 25px;
  background-color: #3c439b;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  transform: scale(0.9, 0.9);
}

.shake {
  animation: shake 2s infinite;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  80% {
    transform: rotate(0deg);
  }

  85% {
    transform: rotate(15deg);
  }

  95% {
    transform: rotate(-15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@media only screen and (max-width: 1461px) {
  .container p {
    max-width: 100%;
  }
}